body {
    padding: 1em;
    overflow: scroll;
    height: 100vh;
}

#currentProfileLink {
    margin-top: 2em;
}

h1 {
    margin: 0;
    padding: 0;
}


h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

p {
    padding: 0.5em;
    margin: 0em;
}

a {
    color: inherit; 
    text-decoration: none;
} 
