#agendaBody {
    padding: 1em;
    overflow: scroll;
    height: 100vh;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
}

#agendaHeading {
    margin: 0;
    padding: 0;
}


.agendaDate {
    margin-top: 2em;

}

a { color: inherit; text-decoration: none;} 